.container {
  width: 120%;
  flex-shrink: 0;
}

.title {
  font-size: 26px;
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
}

.loginLink {
  margin-left: 5px;
  font-size: 16px;
  color: var(--mantine-color-dimmed);
}

.input {
  margin-top: 10px;
  background-color: var(--mantine-color-gray-1);
  border-color: transparent;
  font-size: 1rem;
}

.input:focus-within {
  border-color: var(--mantine-color-gray-5);
}

.input::placeholder {
  color: var(--mantine-color-gray-6);
}

.input[data-error="true"] {
  border-color: red;
  box-shadow: 0 0 0 1px red;
}

.input[data-error="true"]:focus-within {
  border-color: red;
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  &:disabled,
  &[data-disabled] {
    background-color: black;
    color: var(--mantine-color-gray-6);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}
