.title {
  display: block;
  text-align: center;
  font-weight: 600;
}

.button {
  width: 100%;
  font-size: 1rem;

  &:disabled,
  &[data-disabled] {
    background-color: black;
    color: var(--mantine-color-gray-6);
  }
}

.input {
  margin-top: 16px;
  background-color: var(--mantine-color-gray-1);
  border-color: transparent;
  font-size: 1rem;
}

.input:focus-within {
  border-color: var(--mantine-color-gray-5);
}

.input::placeholder,
.innerInput::placeholder {
  color: var(--mantine-color-gray-6);
}

.input[data-error="true"] {
  border-color: red;
  box-shadow: 0 0 0 1px red;
}

.input[data-error="true"]:focus-within {
  border-color: red;
}

.bottom {
  text-align: center;
  margin-top: 1rem;
  color: var(--mantine-color-gray-6);
}

.or {
  margin-top: 1rem;
  font-size: 14px;
}
.or::before,
.or::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1px;
  background-color: var(--mantine-color-gray-5);
  vertical-align: middle;
  margin: 0 1rem;
}

.loginOptions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  column-gap: 20px;
}

.icon {
  margin-right: 5px;
}

.register {
  text-align: center;
  margin-top: 1rem;
  color: var(--mantine-color-gray-6);
}

.link {
  color: black;
  margin-left: 5px;
  text-decoration: none;
}
