.input {
  background-color: var(--mantine-color-gray-1);
  border-color: transparent;
  font-size: 1rem;
}

.input:focus-within {
  border-color: var(--mantine-color-gray-5);
}

.input::placeholder,
.innerInput::placeholder {
  color: var(--mantine-color-gray-6);
}

.input[data-error="true"] {
  border-color: red;
  box-shadow: 0 0 0 1px red;
}

.input[data-error="true"]:focus-within {
  border-color: red;
}
